
.DS_Store
._Test.livecode
._api.lcdoc
._.DS_Store
community.livecode.paulmcclernan.macostools.lci
LICENSE
manifest.xml
module.2.lcm
community.livecode.paulmcclernan.macostools.lci
module.2.lcm
._macOStools.lcb
._Test2.livecode
community.livecode.paulmcclernan.macostools.lci
darkMode tests/._DarkModeTests.livecode
community.livecode.paulmcclernan.macostools.lci
module.2.lcm
old versions/._old-macOStools.lcb
old versions/._Test old.livecode
Research/._applicationDockMenu- | Apple Developer Documentation.webloc
Research/._contentView | Apple Developer Documentation.webloc
Research/._Learn Objective-C in 24 Days | Programming for iOS.webloc
Research/._MacPDFView_widget.lcb~
Research/._NSMediaLibraryBrowserController | Apple Developer Documentation.webloc
Research/._NSPageController | Apple Developer Documentation.webloc
Research/._NSPanel | Apple Developer Documentation.webloc
Research/._NSSound | Apple Developer Documentation.webloc
Research/._NSSpeechRecognizer | Apple Developer Documentation 2.webloc
Research/._NSSpeechRecognizer | Apple Developer Documentation.webloc
api.lcdoc
community.livecode.paulmcclernan.macostools.1.0.1.lce
api.lcdoc
manifest.xml
api.lcdoc
manifest.xml
manifest.xml
.github/FUNDING.yml
api.lcdoc
manifest.xml
guide/._images
guide/._guide.md
._guide
._module.2.lcm
._old versions.zip
._org.openxtalk.library.macosnativeapptools.1.0.2.zip
old versions/._macOStools copy.lcb
samples/._MacOS-Native-Tools-Tester.oxtstack
._org.openxtalk.library.macosnativeapptools.1.0.2.lce.b64
._org.openxtalk.library.macosnativeapptools.1.0.2.lce.svg
